/hadoop/spark/sparkdemo/.cache-main
/hadoop/spark/sparkdemo/.cache-tests
/hadoop/spark/sparkdemo/.classpath
/hadoop/spark/sparkdemo/.gitignore
/hadoop/spark/sparkdemo/.project
/hadoop/spark/sparkdemo/.settings
